@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  body * {
    visibility: hidden;
  }

  .print-modal {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
  }

  .print-modal * {
    visibility: visible;
  }

  .no-print {
    display: none !important;
  }

  /* Ensure grid layout works in print */
  .print-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
